<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.an.thelegendcarsstore">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:full_Name=".MainActivity">
            <intent-filter>
                <action android:full_Name="android.intent.action.MAIN" />

                <category android:full_Name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:full_Name=".Opening_Activities.Openner" />
        <activity android:full_Name=".Opening_Activities.SplashScreen">
            <intent-filter>
                <action android:full_Name="android.intent.action.MAIN" />

                <category android:full_Name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>